.round{
    border-radius: 6px;
}


.patient-header{
    height: 25vh;
}

.custom-card{
    height: 20vh;
    width: 15vw;
    cursor: pointer;
}
.custom-card i{
    font-size: 5rem;
}

.empty-state{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.departmentDetail-page-left{
    height: 89vh;
    width: 40vw;
}
.departmentDetail-page-left .upper{
    height: 50%;
    width: 100%;
}
.departmentDetail-page-right{
    height:89vh;
    width: 60vw;
}

.doctor-profile-card{
    height: 15vh;
    width: 10vw;
}


.doctorDetail-page-left{
    height: 70vh;
    width: 40vw;
}

.doctorDetail-page-right{
    height: 70vh;
    width: 60vw;
}

.search-box{
    height: 20vh;
        
}

.date-section{
    height: 20vh;
    
}




/* schedule */
.schedule-page-dates{
    height: 10vh;
   
}
.schedule-div{
    height: 65vh;
}

.schedule-page-btm{
    height: 8.3vh;
}
.table-top-box{
    height: 5rem;
    width: 8rem;
    cursor: pointer;
}

.session-box-session-label{
    font-size: 2rem;
}


.date-box{
    height: 4rem;
    width: 4rem;
    background-color: rgb(234, 65, 229);
    cursor: pointer;
}

.doctor-appoint-card{
    
    width: 100%;
}

.booking-badge{
    cursor: pointer;
}


/* Tables */

.doctor-dashboard-table-1{
    width: 50%;
}


.time{
    height: 10%;
    width: 20%;
    position: absolute;
    right: 8rem;
}